{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

    <div class="popup" data-popup="popup-1">
        <div class="popup-inner">
            <!--<div class="popup_content">-->

            <div class="pop_header">
                <h2>Заявка</h2>

                <p>Заполните форму и мы свяжемся с вами в течение часа</p>

                <a class="popup-close" data-popup-close="popup-1"></a>
            </div>

            <form method="post" action="{% url 'sendmail' %}" class="form">
                <label for="name0">
                    <input type="text" id="name0" placeholder="Имя" name="name" required>
                </label>

                <label for="number0">
                    <input type="number" id="number0" placeholder="Телефон с кодом" name="number" required>
                </label>

                <label for="email0">
                    <input type="email" id="email0" placeholder="E-Mail" name="email" required>
                </label>

                <input type="submit" value="отправить">
            </form>

        </div>
        <!--</div>-->
    </div>

    <header>

        <div class="header grid group">
            <a href="#main" class="main"></a>
            <!--<img src="assets/images/logo_big.png" alt="image" class="logo">-->

            <nav class="menu-collapsed">
                <div class="bar"></div>
                <ul class="menu">
                    <li><a href="#main">главная</a></li>
                    <li><a href="#product">продукция</a></li>
                    <li><a href="#company">о компании</a></li>
                    <li><a href="#contacts">контакты</a></li>
                </ul>
            </nav>

            <div class="contacts">
                <span>+996 550 901 440</span>
                <button type="button" class="button" data-popup-open="popup-1">оставить заявку</button>
            </div>
        </div>
    </header>

    <div class="bg1">
        <div class="content1 grid">
            <div class="rectangle"></div>
            <div class="title">
                <h1>инженерная паркетная доска премиум-класса</h1>

                <p>Доставка по Кыргызстану, Казахстану и России напрямую от производителя</p>
            </div>
        </div>
    </div>

    <div class="bg2">
        <div class="content2 grid group">
            <!--<div class="title_block">-->
            <!--<h2>&nbsp;&nbsp;что такое <span>инженерная</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;паркетная &nbsp;&nbsp;доска-->
            <!--<span class="hider"></span></h2>-->
            <!--<img src="assets/images/short_line.png" alt="image">-->
            <!--<img src="assets/images/long_line.png" alt="image">-->
            <!--</div>-->

            <div class="title_block">
                <h2>&nbsp;&nbsp;&nbsp;&nbsp;Инженерная паркетная доска <span>&nbsp;&nbsp;Premium Wood</span>
                    <span class="hider"></span></h2>
                <img src="{% static 'images/short_line.png' %}" alt="image">
                <img src="{% static 'images/long_line.png' %}" alt="image">
            </div>

            <div class="text_block group">
                <p>Инженерная доска для пола премиум-класса, изготовленная по европейским технологиям на немецком
                    оборудовании «Schroeder» из ценных пород деревьев, растущих в высокогорных районах Кыргызстана
                    (горный ильм и орех).
                </p>
                {#                <p>Идеальный вариант напольного покрытия квартир и жилых домов для тех, кто ценит натуральность и#}
                {#                    эксклюзивность.#}
                {#                </p>#}
                <p>Прочная и экологичная, адаптирована к любым перепадам температуры и влажности, отлично подходит для
                    теплого пола.
                </p>
                <p>Доставим в краткие сроки в любой регион России, Казахстана и Кыргызстана.
                </p>
            </div>

            <!--<div class="advantages group">-->
            <!--<div class="advantage">-->
            <!--<img src="assets/images/desc1.png" alt="image">-->

            <!--<p>Влагостойкость и шумоизоляция</p>-->
            <!--</div>-->

            <!--<div class="advantage">-->
            <!--<img src="assets/images/desc2.png" alt="image">-->

            <!--<p>Гарантированная долговечность</p>-->
            <!--</div>-->

            <!--<div class="advantage">-->
            <!--<img src="assets/images/desc3.png" alt="image">-->

            <!--<p>Можно стелить на теплый пол</p>-->
            <!--</div>-->

            <!--<div class="advantage">-->
            <!--<img src="assets/images/desc4.png" alt="image">-->

            <!--<p>Восстановление повреждений</p>-->
            <!--</div>-->
            <!--</div>-->

            <div class="about_parquet group">
                <a class="description">

                    <div class="d_title">
                        <p class="load_title1">Инженерная доска</p>

                        <!--<p class="load_title2">Средний слой</p>-->

                        <!--<p class="load_title3">Поддерживающий слой</p>-->

                        <p class="load_title4">Верхний слой </p>
                    </div>

                    <p class="load_text1">Это прочная и водонепроницаемая конструкция из двух слоев. В ее основе -
                        многослойная влагостойкая березовая фанера. Все слои фанеры склеены так, что волокна древесного
                        материала взаимно перпендикулярны. Это обеспечивает прочность, долговечность и повышенную
                        шумоизоляцию напольного покрытия.
                    </p>

                    <!--<p class="load_text2">изготавливается из более мягкой древесины. Этот слой позволяет доске сохранять-->
                    <!--форму и стабильность. Изготавливается из деревянных брусочков, фанеры или ДВП.-->
                    <!--</p>-->

                    <!--<p class="load_text3">ключевой слой для обеспечения крепкой основы для доски.-->
                    <!--</p>-->

                    <p class="load_text4">Изготавливается из твердых пород ценной древесины (горный ильм или орех). В
                        сочетании с натуральным защитным покрытием она обеспечивает водонепроницаемость,
                        износостойкость, стойкость к перепадам температур и долговечность, природную красоту и
                        оригинальностью паркетной доски.
                    </p>

                    <!--<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur-->
                    <!--magni dolores eos qui ratione voluptatem </p>-->

                </a>

                <div class="parquet_details">
                    <img src="{% static 'images/points.png' %}" alt="image">

                    <div class="dot dot1 active_dot">
                        <div class="m_dot">
                            <div></div>
                        </div>
                    </div>

                    <!--<div class="dot dot2">-->
                    <!--<div class="m_dot">-->
                    <!--<div></div>-->
                    <!--</div>-->
                    <!--</div>-->

                    <!--<div class="dot dot3">-->
                    <!--<div class="m_dot">-->
                    <!--<div></div>-->
                    <!--</div>-->
                    <!--</div>-->

                    <div class="dot dot4">
                        <div class="m_dot">
                            <div></div>
                        </div>
                    </div>

                    <div class="line line1"></div>
                    <!--<div class="line line2"></div>-->
                    <!--<div class="line line3"></div>-->
                    <div class="line line4"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="advantage_bg">
        <div class="content4 grid">
            <!--<div class="form_block">-->
            <!--<i class="bird"></i>-->
            <!--<i class="big_leave"></i>-->
            <!--<i class="small_leave"></i>-->

            <!--<form method="post" action="#" class="form">-->

            <!--<h2>узнайте больше</h2>-->
            <!--<h5>заполните форму, мы свяжемся с вами и ответим на любые вопросы</h5>-->


            <!--<label for="name">-->
            <!--<input type="text" id="name" placeholder="Имя">-->
            <!--</label>-->

            <!--<label for="number">-->
            <!--<input type="number" id="number" placeholder="Телефон с кодом">-->
            <!--</label>-->

            <!--<label for="email">-->
            <!--<input type="email" id="email" placeholder="E-Mail">-->
            <!--</label>-->

            <!--<input type="submit" value="отправить">-->
            <!--</form>-->

            <!--<div class="phone_number">или позвоните нам: +996 550 901 440</div>-->
            <!--</div>-->

            <div class="product">
                <div class="title_block">
                    <h2><span>преимущества</span> &nbsp;&nbsp;&nbsp;нашей &nbsp;продукции
                        <span class="hider"></span></h2>
                    <img src="{% static 'images/short_line.png' %}" alt="image">
                    <img src="{% static 'images/advantage_pattern.png' %}" alt="image">
                </div>

                <div class="advantages">
                    <div class="advantage">
                        <img src="{% static 'images/advantage1.png' %}" alt="image">
                        <h6>Европейские технологии</h6>
                        <p>Доска производится на немецком оборудовании концерна «Schroeder» с использованием клеев,
                            лаков и масел итальянского производства.
                        </p>
                    </div>

                    <div class="advantage">
                        <img src="{% static 'images/advantage2.png' %}" alt="image">

                        <h6>Прочность и шумоизоляция</h6>

                        <p>Толщина доски - 15 мм, из них 12 мм - влагостойкая березовая фанера и 3 мм - ценная порода
                            древесины. Это обеспечивает необычайную прочность пола и повышенную звуковую изоляцию.
                        </p>
                    </div>

                    <div class="advantage">
                        <img src="{% static 'images/advantage3.png' %}" alt="image">
                        <h6>Уникальная текстура </h6>

                        <p>Из-за больших перепадов температуры в горах (от -50°C зимой до +40°C летом) текстура дерева
                            становится необыкновенно четкой и живописной.</p>
                    </div>

                    <div class="advantage">
                        <img src="{% static 'images/advantage4.png' %}" alt="image">
                        <h6>Экологичность</h6>
                        <p>При производстве доски мы используем исключительно натуральные материалы: ценная древесина
                            горного ильма и ореха, растущего в горах Кыргызстана на высоте от 1500 метров, натуральный
                            пчелиный воск и лаки на водной основе.
                        </p>
                    </div>

                    <div class="advantage">
                        <img src="{% static 'images/advantage5.png' %}" alt="image">

                        <h6>Гарантированная долговечность</h6>

                        <p>Полная уверенность в своем продукте позволяет нам дать долгосрочную гарантию на весь товар -
                            10 лет, чем не могут похвастаться большинство производителей паркетной доски.
                        </p>
                    </div>

                    <div class="advantage">
                        <img src="{% static 'images/advantage6.png' %}" alt="image">

                        <h6>Влагостойкость</h6>

                        <p>Масло на основе натурального пчелиного воска глубоко впитывается в поры древесины и защищает
                            ее от влаги. Эксперименты показали, что даже после 10 дней, проведенных в воде или в снегу,
                            паркетная доска сохраняется в первозданном виде.
                        </p>
                    </div>

                    <!--<div class="advantage">-->
                    <!--<img src="assets/images/advantage7.png" alt="image">-->

                    <!--<p>Своевременное и качественное сервисное обслуживание-->
                    <!--в вашем городе</p>-->
                    <!--</div>-->

                    <!--<div class="advantage">-->
                    <!--<img src="assets/images/advantage8.png" alt="image">-->

                    <!--<p>Покупка и доставка напрямую-->
                    <!--от производителя. Регионы: Кыргызстан, Казахстан и Россия. </p>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>

    <div class="bg3" id="product">
        <div class="content3 grid">
            <div class="title_block">
                <h2> &nbsp;&nbsp;&nbsp;&nbsp;продукция <span>premium &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;wood</span>
                    <span class="hider"></span>
                </h2>
                <img src="{% static 'images/short_line.png' %}" alt="image">
                <img src="{% static 'images/long_line.png' %}" alt="image">
            </div>

            <div class="text_block group">
                <p>Компания «Premium wood» предлагает брашированную инженерную паркетную доску из дерева горный ильм
                    (коллекции
                    Impeial и Excluzive) и орехового дерева (коллекция ХХХ)
                </p>

                <p>Каждая коллекция уникальна в своем роде и обладает неповторимым изяществом и оригинальностью. Выбор
                    паркетной доски может рассказать многое об её хозяине. Выберите свой стиль и узнайте о нем
                    больше!</p>
            </div>

            <div class="types">
                <a href="#imperial" class="type_bg">
                    <div class="type">
                        <img src="{% static 'images/imperial.jpg' %}" alt="image">

                        <div class="type_name">
                            <span>imperial</span>
                        </div>
                    </div>
                </a>

                <a href="#exclusive" class="type_bg">
                    <div class="type">
                        <img src="{% static 'images/exclusive.jpg' %}" alt="image">

                        <div class="type_name">
                            <span>exclusive</span>
                        </div>
                    </div>
                </a>
            </div>

            <div class="parquet">
                <div class="imperial" id="imperial">
                    <h5>
                        <img src="{% static 'images/short_line.png' %}" alt="image">
                        <span>коллекция</span><br>
                        imperial
                    </h5>

                    {#                    <p>Паркетная доска серии «Imperial» изготовляется из дерева горный ильм, растущего на высоте 1500#}
                    {#                        метров над уровнем моря и покрывается натуральным пчелиным воском итальянского производства.#}
                    {#                    </p>#}

                    <p>Уникальная текстура дерева в сочетании с качественным покрытием придает паркетной доске Imperial
                        роскошный и дорогой внешний вид и потрясающую рельефность.</p>

                    <p>Эта коллекция идеально подходит для ценителей классического стиля. Элегантный узор и богатый цвет
                        этой доски впишутся в любой интерьер и подчеркнут его изящество.
                    </p>


                    <div class="tabs-stage">
                        <div class="p_imperial" id="tab-1">
                            <div class="parquet_img">
                                <a href="{% static 'images/imperial_sboku_original.jpg' %}" class="item">
                                    <img src="{% static 'images/sboku_imperial.jpg' %}" alt="image">
                                    <img src="{% static 'images/image_pattern.png' %}" alt="image">
                                </a>
                            </div>

                            <div class="parquet_img">
                                <a href="{% static 'images/imperial_original.jpg' %}" class="item">
                                    <img src="{% static 'images/sverhu_imperial.jpg' %}" alt="image">
                                    <img src="{% static 'images/image_pattern.png' %}" alt="image">
                                </a>
                            </div>

                            <!--<div class="parquet_img">-->
                            <!--<img src="assets/images/imperial1.jpg" alt="image">-->
                            <!--<img src="assets/images/image_pattern.png" alt="image">-->
                            <!--</div>-->

                            <!--<div class="parquet_img">-->
                            <!--<img src="assets/images/imperial1.jpg" alt="image">-->
                            <!--<img src="assets/images/image_pattern.png" alt="image">-->
                            <!--</div>-->
                        </div>

                        <div class="p_imperial" id="tab-2">
                            <div class="parquet_img">
                                <a href="{% static 'images/new/hall_main_imperial.jpg' %}" class="item">
                                    <img src="{% static 'images/new/normall_hall_main_imperial.jpg' %}" alt="image">
                                    <img src="{% static 'images/image_pattern.png' %}" alt="image">
                                </a>
                            </div>

                            <div class="parquet_img">
                                <a href="{% static 'images/new/hall_sboku_imperial.jpg' %}" class="item">
                                    <img src="{% static 'images/new/normall_hall_sboku_imperial.jpg' %}" alt="image">
                                    <img src="{% static 'images/image_pattern.png' %}" alt="image">
                                </a>
                            </div>

                            <!--<div class="parquet_img">-->
                            <!--<img src="assets/images/imperial1.jpg" alt="image">-->
                            <!--<img src="assets/images/image_pattern.png" alt="image">-->
                            <!--</div>-->

                            <!--<div class="parquet_img">-->
                            <!--<img src="assets/images/imperial1.jpg" alt="image">-->
                            <!--<img src="assets/images/image_pattern.png" alt="image">-->
                            <!--</div>-->
                        </div>

                        <div class="p_imperial" id="tab-3">
                            <div class="parquet_img">
                                <a href="{% static 'images/bodroom_imperial1.jpg' %}" class="item">
                                    <img src="{% static 'images/normall_bodroom.jpg' %}" alt="image">
                                    <img src="{% static 'images/image_pattern.png' %}" alt="image">
                                </a>
                            </div>

                            <div class="parquet_img">
                                <a href="{% static 'images/bodroom_imerial2.jpg' %}" class="item">
                                    <img src="{% static 'images/normall2_bodroom.jpg' %}" alt="image">
                                    <img src="{% static 'images/image_pattern.png' %}" alt="image">
                                </a>
                            </div>

                            <!--<div class="parquet_img">-->
                            <!--<img src="assets/images/imperial1.jpg" alt="image">-->
                            <!--<img src="assets/images/image_pattern.png" alt="image">-->
                            <!--</div>-->

                            <!--<div class="parquet_img">-->
                            <!--<img src="assets/images/imperial1.jpg" alt="image">-->
                            <!--<img src="assets/images/image_pattern.png" alt="image">-->
                            <!--</div>-->
                        </div>


                    </div>

                    <ul class="tabs-nav">
                        <li>
                            <a href="#tab-1">
                                <div class="min_block">
                                    <img src="{% static 'images/imperial_min_1.jpg' %}" alt="image">
                                </div>

                                <p>Текстура</p>
                            </a>
                        </li>
                        <li>
                            <a href="#tab-2">
                                <div class="min_block">
                                    <img src="{% static 'images/new/mini_hall_main_imperial.jpg' %}" alt="image">
                                </div>

                                <p>Зал</p>
                            </a>
                        </li>
                        <li>
                            <a href="#tab-3">
                                <div class="min_block">
                                    <img src="{% static 'images/imerial_min_2.jpg' %}" alt="image">
                                </div>

                                <p>Спальня</p>
                            </a>
                        </li>

                    </ul>

                </div>


                <div class="exclusive" id="exclusive">
                    <h5>
                        <img src="{% static 'images/short_line.png' %}" alt="image">
                        <span>коллекция</span><br>
                        exclusive
                    </h5>

                    <p>Cоздана для тех, кто может позволить себе действительно эксклюзивные решения в интерьере,
                        демонстрирующие высокий статус и особое чувство стиля хозяев дома.
                    </p>
                    <p>Эта серия изготавливается из более ценного сорта горного ильма, содержащего элементы капа
                        (наростов на дереве, создающих потрясающе красивые узоры).
                    </p>
                    <p>Древесина с наличием капа высоко ценится во всем мире и используется для облицовки эксклюзивной
                        мебели и салонов роскошных автомобилей, таких как Rolls-Royce.
                    </p>
                    <p>Она шикарно смотрится в качестве напольного покрытия, создавая такие уникальные узоры, которые не
                        в силах сотворить даже самые гениальные художники.
                    </p>


                    <div class="tabs-block">
                        <div class="p_imperial" id="tab-6">
                            <div class="parquet_img">
                                <a href="{% static 'images/exclusive_original.jpg' %}" class="item">
                                    <img src="{% static 'images/sboku_exclusive.jpg' %}" alt="image">
                                    <img src="{% static 'images/image_pattern.png' %}" alt="image">
                                </a>
                            </div>

                            <div class="parquet_img">
                                <a href="{% static 'images/exclusive_sverhu_original.jpg' %}" class="item">
                                    <img src="{% static 'images/sverhu_exclusive.jpg' %}" alt="image">
                                    <img src="{% static 'images/image_pattern.png' %}" alt="image">
                                </a>
                            </div>

                            <!--<div class="parquet_img">-->
                            <!--<img src="assets/images/imperial1.jpg" alt="image">-->
                            <!--<img src="assets/images/image_pattern.png" alt="image">-->
                            <!--</div>-->

                            <!--<div class="parquet_img">-->
                            <!--<img src="assets/images/imperial1.jpg" alt="image">-->
                            <!--<img src="assets/images/image_pattern.png" alt="image">-->
                            <!--</div>-->
                        </div>

                        <div class="p_imperial" id="tab-7">
                            <div class="parquet_img">
                                <a href="{% static 'images/new/hall_main_exclusive.jpg' %}" class="item">
                                    <img src="{% static 'images/new/normall_hall_main_exclusive.jpg' %}" alt="image">
                                    <img src="{% static 'images/image_pattern.png' %}" alt="image">
                                </a>
                            </div>

                            <div class="parquet_img">
                                <a href="{% static 'images/new/hall_sboku_exclusive.jpg' %}" class="item">
                                    <img src="{% static 'images/new/normall_hall_sboku_exclusive.jpg' %}" alt="image">
                                    <img src="{% static 'images/image_pattern.png' %}" alt="image">
                                </a>
                            </div>

                            <!--<div class="parquet_img">-->
                            <!--<img src="assets/images/imperial1.jpg" alt="image">-->
                            <!--<img src="assets/images/image_pattern.png" alt="image">-->
                            <!--</div>-->

                            <!--<div class="parquet_img">-->
                            <!--<img src="assets/images/imperial1.jpg" alt="image">-->
                            <!--<img src="assets/images/image_pattern.png" alt="image">-->
                            <!--</div>-->
                        </div>

                        <div class="p_imperial" id="tab-8">
                            <div class="parquet_img">
                                <a href="{% static 'images/exclusive_bodroom1.jpg' %}" class="item">
                                    <img src="{% static 'images/normall_exlusive_bodroom.jpg' %}" alt="image">
                                    <img src="{% static 'images/image_pattern.png' %}" alt="image">
                                </a>
                            </div>

                            <div class="parquet_img">
                                <a href="{% static 'images/new/bodroom_sboku_exclusive.jpg' %}" class="item">
                                    <img src="{% static 'images/new/normall_bodroom_sboku_exclusive.jpg' %}" alt="image">
                                    <img src="{% static 'images/image_pattern.png' %}" alt="image">
                                </a>
                            </div>

                            <!--<div class="parquet_img">-->
                            <!--<img src="assets/images/imperial1.jpg" alt="image">-->
                            <!--<img src="assets/images/image_pattern.png" alt="image">-->
                            <!--</div>-->

                            <!--<div class="parquet_img">-->
                            <!--<img src="assets/images/imperial1.jpg" alt="image">-->
                            <!--<img src="assets/images/image_pattern.png" alt="image">-->
                            <!--</div>-->
                        </div>

{#                        <div class="p_imperial" id="tab-9">#}
{#                            <div class="parquet_img">#}
{#                                <a href="{% static 'images/imperial1.jpg' %}" class="item">#}
{#                                    <img src="{% static 'images/imperial1.jpg' %}" alt="image">#}
{#                                    <img src="{% static 'images/image_pattern.png' %}" alt="image">#}
{#                                </a>#}
{#                            </div>#}
{##}
{#                            <div class="parquet_img">#}
{#                                <a href="{% static 'images/imperial1.jpg' %}" class="item">#}
{#                                    <img src="{% static 'images/imperial1.jpg' %}" alt="image">#}
{#                                    <img src="{% static 'images/image_pattern.png' %}" alt="image">#}
{#                                </a>#}
{#                            </div>#}
{##}
{#                            <!--<div class="parquet_img">-->#}
{#                            <!--<img src="assets/images/imperial1.jpg" alt="image">-->#}
{#                            <!--<img src="assets/images/image_pattern.png" alt="image">-->#}
{#                            <!--</div>-->#}
{##}
{#                            <!--<div class="parquet_img">-->#}
{#                            <!--<img src="assets/images/imperial1.jpg" alt="image">-->#}
{#                            <!--<img src="assets/images/image_pattern.png" alt="image">-->#}
{#                            <!--</div>-->#}
{#                        </div>#}

{#                        <div class="p_imperial" id="tab-10">#}
{#                            <div class="parquet_img">#}
{#                                < <a href="{% static 'images/imperial1.jpg' %}" class="item">#}
{#                                <img src="{% static 'images/imperial1.jpg' %}" alt="image">#}
{#                                <img src="{% static 'images/image_pattern.png' %}" alt="image">#}
{#                            </a>#}
{#                            </div>#}
{##}
{#                            <div class="parquet_img">#}
{#                                <a href="{% static 'images/imperial1.jpg' %}" class="item">#}
{#                                    <img src="{% static 'images/imperial1.jpg' %}" alt="image">#}
{#                                    <img src="{% static 'images/image_pattern.png' %}" alt="image">#}
{#                                </a>#}
{#                            </div>#}
{##}
{#                            <!--<div class="parquet_img">-->#}
{#                            <!--<img src="assets/images/imperial1.jpg" alt="image">-->#}
{#                            <!--<img src="assets/images/image_pattern.png" alt="image">-->#}
{#                            <!--</div>-->#}
{##}
{#                            <!--<div class="parquet_img">-->#}
{#                            <!--<img src="assets/images/imperial1.jpg" alt="image">-->#}
{#                            <!--<img src="assets/images/image_pattern.png" alt="image">-->#}
{#                            <!--</div>-->#}
{#                        </div>#}
                    </div>

                    <ul class="tabs-button">
                        <li>
                            <a href="#tab-6">
                                <div class="min_block">
                                    <img src="{% static 'images/exclusive_min.jpg' %}" alt="image">
                                </div>

                                <p>Текстура</p>
                            </a>
                        </li>
                        <li>
                            <a href="#tab-7">
                                <div class="min_block">
                                    <img src="{% static 'images/new/mini_hall_main_exclusive.jpg' %}" alt="image">
                                </div>

                                <p>Зал</p>
                            </a>
                        </li>
                        <li>
                            <a href="#tab-8">
                                <div class="min_block">
                                    <img src="{% static 'images/exclusive_min_bodroom.jpg' %}" alt="image">
                                </div>

                                <p>Спальня</p>
                            </a>
                        </li>

                    </ul>

                </div>
            </div>


        </div>
    </div>

    <div class="bg4">
        <div class="content4 grid">
            <div class="form_block">
                <i class="bird"></i>
                <i class="big_leave"></i>
                <i class="small_leave"></i>

                <form method="post" action="{% url 'sendmail' %}" class="form">

                    <h2>узнайте больше</h2>
                    <h5>заполните форму, мы свяжемся с вами и ответим на любые вопросы</h5>


                    <label for="name">
                        <input type="text" id="name" placeholder="Имя" name="name" required>
                    </label>

                    <label for="number">
                        <input type="number" id="number" placeholder="Телефон с кодом" name="number" required>
                    </label>

                    <label for="email">
                        <input type="email" id="email" placeholder="E-Mail" name="email" required>
                    </label>

                    <input type="submit" value="отправить">
                </form>

                <div class="phone_number">или позвоните нам: +996 550 901 440</div>
            </div>

            <div class="product">
                <div class="title_block pw">
                    <h2><span>преимущества</span> &nbsp;&nbsp;&nbsp;работы &nbsp;с нами
                        <span class="hider"></span></h2>
                    <img src="{% static 'images/short_line.png' %}" alt="image">
                    <img src="{% static 'images/advantage_pattern.png' %}" alt="image">
                </div>

                <div class="advantages">

                    <div class="advantage">
                        <img src="{% static 'images/advantage8.png' %}" alt="image">
                        <h6>Доставка напрямую</h6>

                        <p>Покупка и доставка доски напрямую от производителя в течение максимум 10-15 дней. Регионы:
                            Кыргызстан, Казахстан и Россия. Доставка производится автотранспортом.
                        </p>
                    </div>

                    <div class="advantage">
                        <img src="{% static 'images/advantage6.png' %}" alt="image">

                        <h6>Гарантия сохранности в пути</h6>

                        <p>Мы оформляем страховку товара в пути и несем полную ответственность за доставку доски от
                            завода до вашей двери в идеальном виде.
                        </p>
                    </div>

                    <div class="advantage">
                        <img src="{% static 'images/desc2.png' %}" alt="image">

                        <h6>Установка</h6>

                        <p>По желанию клиентов опытные специалисты «Premium Wood» произведут установку инженерной
                            паркетной доски в вашем доме или квартире.
                        </p>
                    </div>

                    <div class="advantage">
                        <img src="{% static 'images/advantage7.png' %}" alt="image">

                        <h6>Обслуживание и реставрация</h6>

                        <p>Наш девиз – «мы всегда рядом». Если вы случайно испортите часть паркета, наши специалисты без
                            проблем доставят необходимое количество доски и произведут замену.</p>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="bg5">
        <div class="content5 grid">

            <div class="title_block">
                <h2>&nbsp;&nbsp;&nbsp;этапы <span>производства</span>
                    <span class="hider"></span></h2>
                <img src="{% static 'images/short_line.png' %}" alt="image">
                <img src="{% static 'images/advantage_pattern.png' %}" alt="image">
            </div>

            <div class="stages">

                <div class="stage">
                    <div class="shadow"></div>
                    <img src="{% static 'images/step2.jpg' %}" alt="image">
                    <p class="stage_desc">На завод приходит бревно (кругляк) и отбирается
                        только самая качественная древесина. Производится продольный разрез на брусья на немецком
                        оборудовании «Schroeder». </p>
                </div>

                <div class="stage">
                    <div class="shadow"></div>
                    <img src="{% static 'images/step1.jpg' %}" alt="image">
                    <p class="stage_desc">Отбор брусьев для определенной коллекции.
                    </p>
                </div>

                <div class="stage">
                    <div class="shadow"></div>
                    <img src="{% static 'images/stepv2.JPG' %}" alt="image">
                    <p class="stage_desc">Нарезка на ламели с помощью японского станка с программным обеспечением от
                        компании Siemens. Он позволяет задавать ширину доски с идеальной точностью.
                    </p>
                </div>

                <div class="stage">
                    <div class="shadow"></div>
                    <img src="{% static 'images/step4.jpg' %}" alt="image">
                    <p class="stage_desc">Сушка в сушильных камерах при температуре 70 градусов и влажности до 7%.
                        Прессовка и склеивание нижнего слоя (березовой фанеры) и верхнего слоя (ценной породы дерева) на
                        прессовальном оборудовании.
                    </p>
                </div>

                <div class="stage">
                    <div class="shadow"></div>
                    <img src="{% static 'images/step5.jpg' %}" alt="image">
                    <p class="stage_desc">Обработка заготовок инженерной паркетной доски с четырех сторон с соединениями
                        шип-паз. Благодаря соединению шип-паз установка инженерной доски на поверхность пола будет очень
                        простой и быстрой.
                    </p>
                </div>

                <div class="stage">
                    <div class="shadow"></div>
                    <img src="{% static 'images/step6.jpg' %}" alt="image">
                    <p class="stage_desc">Шлифовка. Доска поступает на специальные калибровально-шлифовальные станки,
                        которые придают ей идеальную гладкость.
                    </p>
                </div>

                {#                <div class="stage">#}
                {#                    <div class="shadow"></div>#}
                {#                    <img src="{% static 'images/step7.jpg' %}" alt="image">#}
                {#                    <p class="stage_desc">Браширование. На этом этапе убираются мягки ткани с поверхности доски, за счет#}
                {#                        чего приобретается потрясающий рельеф, делающий доску такой приятной на ощупь.#}
                {#                    </p>#}
                {#                </div>#}

                <div class="stage">
                    <div class="shadow"></div>
                    <img src="{% static 'images/step8.jpg' %}" alt="image">
                    <p class="stage_desc">Покрытие маслом или лаком. Производится в четыре слоя путем втирания для
                        максимального проникновения в поры древесины. Мы применяем только итальянское масло на основе
                        натурального пчелиного воска и экологически чистый лак на водной основе.
                    </p>
                </div>

                <div class="stage">
                    <div class="shadow"></div>
                    <img src="{% static 'images/step9.jpg' %}" alt="image">
                    <p class="stage_desc">Упаковка. Наконец, доска готова! Производится расфасовка по картонным
                        коробкам, обтянутым влагонепроницаемой пленкой для идеального сохранения товара в пути.
                    </p>
                </div>

                <!--<div class="stage">-->
                <!--<div class="bg_line"></div>-->
                <!--<span>1.</span>-->

                <!--<p>Сырье, поступает на предприятие в виде заготовок, уложенных в паллеты. В каждой паллете-->
                <!--осуществляется выборочный контроль заготовок древесины на наличие дефекта.-->
                <!--</p>-->
                <!--</div>-->

                <!--<div class="stage">-->
                <!--<div class="bg_line"></div>-->
                <!--<span>2.</span>-->

                <!--<p>Все заготовки закладываются в сушильные камеры и в течение полутора месяцев обрабатываются горячим-->
                <!--воздухом с высокой температурой. На этом же этапе для получения заготовок из сосны, березы и бука с-->
                <!--другими механическими (прочность) и физическими (цвет) свойствами, их подвергают термической-->
                <!--обработке. Термообработка – это нагрев древесины до высокой температуры без доступа кислорода с-->
                <!--последующим естественным охлаждением.-->

                <!--</p>-->
                <!--</div>-->

                <!--<div class="stage">-->
                <!--<div class="bg_line"></div>-->
                <!--<span>3.</span>-->

                <!--<p>Деревянную заготовку на пильном станке распиливают на доски заданной ширины и толщины.-->
                <!--Доски заданной толщины поперечно распиливают на заготовки определенной длинны, одновременно срезая-->
                <!--дефектные места.-->

                <!--</p>-->
                <!--</div>-->

                <!--<div class="stage">-->
                <!--<div class="bg_line"></div>-->
                <!--<span>4.</span>-->

                <!--<p>Склеивание паркетной доски в единое целое осуществляется на автоматической линии склеивания. Верхний-->
                <!--слой получают путем склеивания ламелей в торец без подложки. Затем на автоматической линии-->
                <!--склеивания верхний, средний и нижний слои склеиваются в единое целое. После автоматической линии-->
                <!--склеивания паркетная доска загружается в паровой пресс где прессуется и прогревается на всю толщину.-->

                <!--</p>-->
                <!--</div>-->

                <!--<div class="stage">-->
                <!--<div class="bg_line"></div>-->
                <!--<span>5.</span>-->

                <!--<p>Обработка верхнего слоя паркетной доски-->

                <!--</p>-->
                <!--</div>-->

                <!--<div class="stage">-->
                <!--<div class="bg_line"></div>-->
                <!--<span>6.</span>-->

                <!--<p>Для упаковки применяются только те материалы, которые можно использовать в качестве вторичных-->

                <!--</p>-->
                <!--</div>-->
            </div>


        </div>
    </div>

    <div class="bg6">
        <div class="content6 grid">
            <div class="title_block">
                <h2>&nbsp;&nbsp;процесс <span>производства</span>
                    <span class="hider"></span></h2>
                <img src="{% static 'images/short_line.png' %}" alt="image">
                <img src="{% static 'images/advantage_pattern.png' %}" alt="image">
            </div>

            <!--<div class="process">-->
            <!--&lt;!&ndash;<div class="process_img">&ndash;&gt;-->
            <!--<a href="assets/images/process1.jpg" class="item process_img">-->
            <!--<img src="assets/images/process1.jpg" alt="image">-->
            <!--</a>-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->

            <!--<a href="assets/images/process2.jpg" class="item process_img">-->
            <!--<img src="assets/images/process2.jpg" alt="image">-->
            <!--</a>-->

            <!--<div class="process_img">-->
            <!--<a href="assets/images/process3.jpg" class="item process_img_min">-->
            <!--<img src="assets/images/process3.jpg" alt="image">-->
            <!--</a>-->

            <!--<a href="assets/images/process4.jpg" class="item process_img_min">-->
            <!--<img src="assets/images/process4.jpg" alt="image">-->
            <!--</a>-->
            <!--</div>-->

            <!--<a href="assets/images/process5.jpg" class="item process_img">-->
            <!--<img src="assets/images/process5.jpg" alt="image">-->
            <!--</a>-->

            <!--<a href="assets/images/process6.jpg" class="item process_img">-->
            <!--<img src="assets/images/process6.jpg" alt="image">-->
            <!--</a>-->

            <!--<a href="assets/images/process7.jpg" class="item process_img">-->
            <!--<img src="assets/images/process7.jpg" alt="image">-->
            <!--</a>-->
            <!--</div>-->

            <div class="video_bg">
                <div class="video">
                    <div class="p_video">
                        <span>видеоролик</span>

                        <h5>оцените<br>
                            процесс<br>
                            произ-<br>
                            водства<br>
                            вживую</h5>
                    </div>
                    <div class="iframe">
                        <iframe src="https://www.youtube.com/embed/WAzWbcKFjQk" frameborder="0"
                                allowfullscreen></iframe>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="bg7">
        <div class="content7 grid group">
            <div class="title_block">
                <h2>&nbsp;&nbsp;сертификаты <span>premium &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;wood</span>
                    <span class="hider"></span></h2>
                <img src="{% static 'images/long_line.png' %}" alt="image">
                <img src="{% static 'images/advantage_pattern.png' %}" alt="image">
            </div>

            <div class="slider">
                <div class="sl_slide">
                    <a href="{% static 'images/cert1.jpg' %}" class="item">
                        <img src="{% static 'images/min_cert1.jpg' %}" alt="image">
                    </a>
                </div>

                <div class="sl_slide">
                    <a href="{% static 'images/cert2.jpg' %}" class="item">
                        <img src="{% static 'images/min_cert2.jpg' %}" alt="image">
                    </a>
                </div>

                <div class="sl_slide">
                    <a href="{% static 'images/cert1.jpg' %}" class="item">
                        <img src="{% static 'images/min_cert1.jpg' %}" alt="image">
                    </a>
                </div>

                <div class="sl_slide">
                    <a href="{% static 'images/cert2.jpg' %}" class="item">
                        <img src="{% static 'images/min_cert2.jpg' %}" alt="image">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="bg8">
        <div class="content8 grid">

            {#            <div class="title_block">#}
            {#                <h2>&nbsp; <span>отзывы</span> наших &nbsp;&nbsp;клиентов#}
            {#                    <span class="hider"></span></h2>#}
            {#                <img src="{% static 'images/short_line.png' %}" alt="image">#}
            {#                <img src="{% static 'images/advantage_pattern.png' %}" alt="image">#}
            {#            </div>#}
            {##}
            {#            <div class="vertical_slider group">#}
            {##}
            {#                <div class="v_slider_nav">#}
            {#                    <div class="sl_nav_item">#}
            {#                        <i class="polygon"></i>#}
            {#                        <img src="{% static 'images/comment1.jpg' %}" alt="image">#}
            {#                    </div>#}
            {##}
            {#                    <div class="sl_nav_item">#}
            {#                        <i class="polygon"></i>#}
            {#                        <img src="{% static 'images/comment1.jpg' %}" alt="image">#}
            {#                    </div>#}
            {##}
            {#                    <div class="sl_nav_item">#}
            {#                        <i class="polygon"></i>#}
            {#                        <img src="{% static 'images/comment1.jpg' %}" alt="image">#}
            {#                    </div>#}
            {##}
            {#                    <div class="sl_nav_item">#}
            {#                        <i class="polygon"></i>#}
            {#                        <img src="{% static 'images/comment1.jpg' %}" alt="image">#}
            {#                    </div>#}
            {#                </div>#}
            {##}
            {#                <div class="v_slider">#}
            {#                    <div class="sl_item">#}
            {#                        <img src="{% static 'images/main_comment.jpg' %}" alt="image">#}
            {#                    </div>#}
            {##}
            {#                    <div class="sl_item">#}
            {#                        <img src="{% static 'images/main_comment.jpg' %}" alt="image">#}
            {#                    </div>#}
            {##}
            {#                    <div class="sl_item">#}
            {#                        <img src="{% static 'images/main_comment.jpg' %}" alt="image">#}
            {#                    </div>#}
            {##}
            {#                    <div class="sl_item">#}
            {#                        <img src="{% static 'images/main_comment.jpg' %}" alt="image">#}
            {#                    </div>#}
            {#                </div>#}
            {##}
            {#            </div>#}

            <div class="form_block">

                <i class="pen"></i>

                <form method="post" action="{% url 'sendmail' %}" class="form">

                    <h2>объемы и доставка</h2>
                    <h5>оставьте заявку сейчас и мы проведем для</h5>
                    <h5>вас все необходимые расчеты</h5>


                    <label for="name1">
                        <input type="text" id="name1" placeholder="Имя" name="name" required>
                    </label>

                    <label for="number1">
                        <input type="number" id="number1" placeholder="Телефон с кодом" name="number" required>
                    </label>

                    <label for="email1">
                        <input type="email" id="email1" placeholder="E-Mail" name="email" required>
                    </label>

                    <input type="submit" value="отправить">
                </form>

                <div class="phone_number">или позвоните нам: +996 550 901 440</div>
            </div>
        </div>
    </div>

    <div class="bg9" id="company">
        <div class="content9 grid group">
            <div class="title_block">
                <h2>&nbsp;&nbsp;о компании <span>premium &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;wood</span>
                    <span class="hider"></span></h2>
                <img src="{% static 'images/short_line.png' %}" alt="image">
                <img src="{% static 'images/long_line.png' %}" alt="image">
            </div>

            <div class="text_block">
                <p>Компания «Premium Wood» начала свою деятельность в 2003 году с выпуска штучного паркета.
                </p>
                <p>До 2013 года мы отрабатывали мастерство в этом непростом деле, оттачивая навыки до совершенства.
                </p>

                <p>Затем было принято решение о запуске серийного производства инженерной паркетной доски, и к 2016
                    году производство было модернизировано под современный завод.
                </p>

                <p>С тех пор мы выпускаем инженерную паркетную доску из твердых пород горного ильма и ореха и доставляем
                    ее по всем регионам России, Казахстана и Кыргызстана.
                </p>

                <p>В 2016 году компания получила сертификат качества продукции, соответствующего стандартам ЕВРАЗЭС.
                </p>
                <p>На Бишкекском Инвестиционном форуме 2016 года компания «Premium Wood» была признана лучшим проектом
                    года.
                </p>
                <p>Лицензии №, официально зарегистрированная в Министерстве юстиции
                </p>
            </div>
        </div>
    </div>

    <div class="bg10" id="contacts">
        <div class="map_iframe">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d93561.92088066317!2d74.52182065736794!3d42.876853703847246!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x389eb7dc91b3c881%3A0x492ebaf57cdee27d!2z0JHQuNGI0LrQtdC6LCDQmtC40YDQs9C40LfQuNGP!5e0!3m2!1sru!2sru!4v1488799605887"
                    frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>

        <div class="location_bg">
            <div class="location">
                <h2>контакты</h2>

                <ul class="place">
                    <li><p>+996 550 901 440</p></li>
                    <li><p>info@pw.kg</p></li>
                    <li><p>Бишкек, ул. Токтогула 328a</p></li>
                </ul>
            </div>
        </div>

    </div>

    {% block scripts %}
        <script>

            {% if result == "success" %}
                alert('Ваша заявка успешно отправлена!');
            {% endif %}

            {% if result == "error" %}
                alert('Возники проблемы, попробуйте позже!');
            {% endif %}

        </script>
    {% endblock %}

{% endblock %}