{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
    <header>
        <div class="header grid group">
            <a href="#"><img src="{% static 'images/logo.png' %}" alt="image" class="logo"></a>

            <nav>
                <ul class="menu">
                    <li><a href="#">продукция</a></li>
                    <li><a href="#">о компании</a></li>
                    <li><a href="#">контакты</a></li>
                </ul>
            </nav>

            <div class="contacts">
                <span>+996 550 901 440</span>
                <button type="button" class="button">оставить заявку</button>
            </div>
        </div>
    </header>

    <div class="bg1">
        <div class="content1 grid">
            <div class="title">
                <h1>инженерная паркетная доска премиум-класса</h1>

                <p>Доставка по Кыргызстану, Казахстану и России напрямую от производителя</p>
            </div>
        </div>
    </div>

    <div class="bg2">
        <div class="content2 grid">
            <div class="title_block">
                <h2>&nbsp;&nbsp;что такое <span>инженерная</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;паркетная &nbsp;&nbsp;доска
                    <span class="hider"></span></h2>
                <img src="{% static 'images/short_line.png' %}" alt="image">
                <img src="{% static 'images/long_line.png' %}" alt="image">
            </div>

            <div class="text_block group">
                <p>ОсОО “Premium Wood” представляет инженерную паркетную доску изготовленного по немецкой технологии на
                    оборудовании Шредер. </p>

                <p>Ильм Император:<br>
                    Произведена из Горного Ильма. Произрастает это дерево в горных районах Кыргызстана на высоте от 1500
                    метров над уровнем моря и имеет непредсказуемую текстуру, строения так как в зимний период
                    температура в
                    горах доходит -40, -50 С, а летом +40 С. По плотности черный ильм очень твердая древесина. 5 - по
                    брюнелю.</p>
            </div>

            <div class="advantages group">
                <div class="advantage">
                    <img src="{% static 'images/desc1.png' %}" alt="image">

                    <p>Влагостойкость и шумоизоляция</p>
                </div>

                <div class="advantage">
                    <img src="{% static 'images/desc2.png' %}" alt="image">

                    <p>Гарантированная долговечность</p>
                </div>

                <div class="advantage">
                    <img src="{% static 'images/desc3.png' %}" alt="image">

                    <p>Можно стелить на теплый пол</p>
                </div>

                <div class="advantage">
                    <img src="{% static 'images/desc4.png' %}" alt="image">

                    <p>Восстановление повреждений</p>
                </div>
            </div>

            <div class="about_parquet group">
                <div class="description">

                    <div class="d_title">
                        <p>Влагостойкий слой</p>
                    </div>

                    <p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
                        rem
                        aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                        explicabo. </p>

                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
                        magni dolores eos qui ratione voluptatem </p>

                </div>

                <div class="parquet_details">
                    <img src="{% static 'images/wood.png' %}" alt="image">

                    <div class="dot dot1">
                        <div class="m_dot">
                            <div></div>
                        </div>
                    </div>

                    <div class="dot dot2">
                        <div class="m_dot">
                            <div></div>
                        </div>
                    </div>

                    <div class="dot dot3">
                        <div class="m_dot">
                            <div></div>
                        </div>
                    </div>

                    <div class="dot dot4">
                        <div class="m_dot">
                            <div></div>
                        </div>
                    </div>

                    <div class="line line1"></div>
                    <div class="line line2"></div>
                    <div class="line line3"></div>
                    <div class="line line4"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="bg3">
        <div class="content3 grid">
            <div class="title_block">
                <h2> &nbsp;&nbsp;&nbsp;&nbsp;продукция <span>premium &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;wood</span>
                    <span class="hider"></span>
                </h2>
                <img src="{% static 'images/short_line.png' %}" alt="image">
                <img src="{% static 'images/long_line.png' %}" alt="image">
            </div>

            <div class="text_block group">
                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                    laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                    laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
                    beatae
                    vitae dicta sunt explicabo. </p>

                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
                    magni
                    dolores eos qui ratione voluptatem sequi nesciunt. </p>
            </div>

            <div class="types">
                <div class="type_bg">
                    <div class="type">
                        <img src="{% static 'images/imperial.jpg' %}" alt="image">

                        <div class="type_name">
                            <span>imperial</span>
                        </div>
                    </div>
                </div>

                <div class="type_bg">
                    <div class="type">
                        <img src="{% static 'images/exclusive.jpg' %}" alt="image">

                        <div class="type_name">
                            <span>exclusive</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="parquet">
                <div class="imperial">
                    <h5>
                        <img src="{% static 'images/short_line.png' %}" alt="image">
                        <span>коллекция</span><br>
                        imperial
                    </h5>

                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium
                        totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                        dicta sunt explicabo. </p>


                    <div class="tabs-stage">
                        <div class="p_imperial" id="tab-1">
                            <div class="parquet_img">
                                <img src="{% static 'images/imperial1.jpg' %}" alt="image">
                                <img src="{% static 'images/image_pattern.png' %}" alt="image">
                            </div>

                            <div class="parquet_img">
                                <img src="{% static 'images/imperial1.jpg' %}" alt="image">
                                <img src="{% static 'images/image_pattern.png' %}" alt="image">
                            </div>

                            <div class="parquet_img">
                                <img src="{% static 'images/imperial1.jpg' %}" alt="image">
                                <img src="{% static 'images/image_pattern.png' %}" alt="image">
                            </div>

                            <div class="parquet_img">
                                <img src="{% static 'images/imperial1.jpg' %}" alt="image">
                                <img src="{% static 'images/image_pattern.png' %}" alt="image">
                            </div>
                        </div>

                        <div class="p_imperial" id="tab-2">
                            <div class="parquet_img">
                                <img src="{% static 'images/imperial1.jpg' %}" alt="image">
                                <img src="{% static 'images/image_pattern.png' %}" alt="image">
                            </div>

                            <div class="parquet_img">
                                <img src="{% static 'images/imperial1.jpg' %}" alt="image">
                                <img src="{% static 'images/image_pattern.png' %}" alt="image">
                            </div>

                            <div class="parquet_img">
                                <img src="{% static 'images/imperial1.jpg' %}" alt="image">
                                <img src="{% static 'images/image_pattern.png' %}" alt="image">
                            </div>

                            <div class="parquet_img">
                                <img src="{% static 'images/imperial1.jpg' %}" alt="image">
                                <img src="{% static 'images/image_pattern.png' %}" alt="image">
                            </div>
                        </div>

                        <div class="p_imperial" id="tab-3">
                            <div class="parquet_img">
                                <img src="{% static 'images/imperial1.jpg' %}" alt="image">
                                <img src="{% static 'images/image_pattern.png' %}" alt="image">
                            </div>

                            <div class="parquet_img">
                                <img src="{% static 'images/imperial1.jpg' %}" alt="image">
                                <img src="{% static 'images/image_pattern.png' %}" alt="image">
                            </div>

                            <div class="parquet_img">
                                <img src="{% static 'images/imperial1.jpg' %}" alt="image">
                                <img src="{% static 'images/image_pattern.png' %}" alt="image">
                            </div>

                            <div class="parquet_img">
                                <img src="{% static 'images/imperial1.jpg' %}" alt="image">
                                <img src="{% static 'images/image_pattern.png' %}" alt="image">
                            </div>
                        </div>

                        <div class="p_imperial" id="tab-4">
                            <div class="parquet_img">
                                <img src="{% static 'images/imperial1.jpg' %}" alt="image">
                                <img src="{% static 'images/image_pattern.png' %}" alt="image">
                            </div>

                            <div class="parquet_img">
                                <img src="{% static 'images/imperial1.jpg' %}" alt="image">
                                <img src="{% static 'images/image_pattern.png' %}" alt="image">
                            </div>

                            <div class="parquet_img">
                                <img src="{% static 'images/imperial1.jpg' %}" alt="image">
                                <img src="{% static 'images/image_pattern.png' %}" alt="image">
                            </div>

                            <div class="parquet_img">
                                <img src="{% static 'images/imperial1.jpg' %}" alt="image">
                                <img src="{% static 'images/image_pattern.png' %}" alt="image">
                            </div>
                        </div>

                        <div class="p_imperial" id="tab-5">
                            <div class="parquet_img">
                                <img src="{% static 'images/imperial1.jpg' %}" alt="image">
                                <img src="{% static 'images/image_pattern.png' %}" alt="image">
                            </div>

                            <div class="parquet_img">
                                <img src="{% static 'images/imperial1.jpg' %}" alt="image">
                                <img src="{% static 'images/image_pattern.png' %}" alt="image">
                            </div>

                            <div class="parquet_img">
                                <img src="{% static 'images/imperial1.jpg' %}" alt="image">
                                <img src="{% static 'images/image_pattern.png' %}" alt="image">
                            </div>

                            <div class="parquet_img">
                                <img src="{% static 'images/imperial1.jpg' %}" alt="image">
                                <img src="{% static 'images/image_pattern.png' %}" alt="image">
                            </div>
                        </div>
                    </div>

                    <ul class="tabs-nav">
                        <li>
                            <a href="#tab-1">
                                <div class="min_block">
                                    <img src="{% static 'images/imperial_min.jpg' %}" alt="image">
                                </div>

                                <p>Текстура</p>
                            </a>
                        </li>
                        <li>
                            <a href="#tab-2">
                                <div class="min_block">
                                    <img src="{% static 'images/imperial_min.jpg' %}" alt="image">
                                </div>

                                <p>Зал</p>
                            </a>
                        </li>
                        <li>
                            <a href="#tab-3">
                                <div class="min_block">
                                    <img src="{% static 'images/imperial_min.jpg' %}" alt="image">
                                </div>

                                <p>Спальня</p>
                            </a>
                        </li>
                        <li>
                            <a href="#tab-4">
                                <div class="min_block">
                                    <img src="{% static 'images/imperial_min.jpg' %}" alt="image">
                                </div>

                                <p>Детская</p>
                            </a>
                        </li>

                        <li>
                            <a href="#tab-5">
                                <div class="min_block">
                                    <img src="{% static 'images/imperial_min.jpg' %}" alt="image">
                                </div>

                                <p>Прихожая</p>
                            </a>
                        </li>
                    </ul>

                </div>


                <div class="exclusive">
                    <h5>
                        <img src="{% static 'images/short_line.png' %}" alt="image">
                        <span>коллекция</span><br>
                        exclusive
                    </h5>

                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium
                        totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                        dicta sunt explicabo. </p>


                    <div class="tabs-block">
                        <div class="p_imperial" id="tab-6">
                            <div class="parquet_img">
                                <img src="{% static 'images/imperial1.jpg' %}" alt="image">
                                <img src="{% static 'images/image_pattern.png' %}" alt="image">
                            </div>

                            <div class="parquet_img">
                                <img src="{% static 'images/imperial1.jpg' %}" alt="image">
                                <img src="{% static 'images/image_pattern.png' %}" alt="image">
                            </div>

                            <div class="parquet_img">
                                <img src="{% static 'images/imperial1.jpg' %}" alt="image">
                                <img src="{% static 'images/image_pattern.png' %}" alt="image">
                            </div>

                            <div class="parquet_img">
                                <img src="{% static 'images/imperial1.jpg' %}" alt="image">
                                <img src="{% static 'images/image_pattern.png' %}" alt="image">
                            </div>
                        </div>

                        <div class="p_imperial" id="tab-7">
                            <div class="parquet_img">
                                <img src="{% static 'images/imperial1.jpg' %}" alt="image">
                                <img src="{% static 'images/image_pattern.png' %}" alt="image">
                            </div>

                            <div class="parquet_img">
                                <img src="{% static 'images/imperial1.jpg' %}" alt="image">
                                <img src="{% static 'images/image_pattern.png' %}" alt="image">
                            </div>

                            <div class="parquet_img">
                                <img src="{% static 'images/imperial1.jpg' %}" alt="image">
                                <img src="{% static 'images/image_pattern.png' %}" alt="image">
                            </div>

                            <div class="parquet_img">
                                <img src="{% static 'images/imperial1.jpg' %}" alt="image">
                                <img src="{% static 'images/image_pattern.png' %}" alt="image">
                            </div>
                        </div>

                        <div class="p_imperial" id="tab-8">
                            <div class="parquet_img">
                                <img src="{% static 'images/imperial1.jpg' %}" alt="image">
                                <img src="{% static 'images/image_pattern.png' %}" alt="image">
                            </div>

                            <div class="parquet_img">
                                <img src="{% static 'images/imperial1.jpg' %}" alt="image">
                                <img src="{% static 'images/image_pattern.png' %}" alt="image">
                            </div>

                            <div class="parquet_img">
                                <img src="{% static 'images/imperial1.jpg' %}" alt="image">
                                <img src="{% static 'images/image_pattern.png' %}" alt="image">
                            </div>

                            <div class="parquet_img">
                                <img src="{% static 'images/imperial1.jpg' %}" alt="image">
                                <img src="{% static 'images/image_pattern.png' %}" alt="image">
                            </div>
                        </div>

                        <div class="p_imperial" id="tab-9">
                            <div class="parquet_img">
                                <img src="{% static 'images/imperial1.jpg' %}" alt="image">
                                <img src="{% static 'images/image_pattern.png' %}" alt="image">
                            </div>

                            <div class="parquet_img">
                                <img src="{% static 'images/imperial1.jpg' %}" alt="image">
                                <img src="{% static 'images/image_pattern.png' %}" alt="image">
                            </div>

                            <div class="parquet_img">
                                <img src="{% static 'images/imperial1.jpg' %}" alt="image">
                                <img src="{% static 'images/image_pattern.png' %}" alt="image">
                            </div>

                            <div class="parquet_img">
                                <img src="{% static 'images/imperial1.jpg' %}" alt="image">
                                <img src="{% static 'images/image_pattern.png' %}" alt="image">
                            </div>
                        </div>

                        <div class="p_imperial" id="tab-10">
                            <div class="parquet_img">
                                <img src="{% static 'images/imperial1.jpg' %}" alt="image">
                                <img src="{% static 'images/image_pattern.png' %}" alt="image">
                            </div>

                            <div class="parquet_img">
                                <img src="{% static 'images/imperial1.jpg' %}" alt="image">
                                <img src="{% static 'images/image_pattern.png' %}" alt="image">
                            </div>

                            <div class="parquet_img">
                                <img src="{% static 'images/imperial1.jpg' %}" alt="image">
                                <img src="{% static 'images/image_pattern.png' %}" alt="image">
                            </div>

                            <div class="parquet_img">
                                <img src="{% static 'images/imperial1.jpg' %}" alt="image">
                                <img src="{% static 'images/image_pattern.png' %}" alt="image">
                            </div>
                        </div>
                    </div>

                    <ul class="tabs-button">
                        <li>
                            <a href="#tab-6">
                                <div class="min_block">
                                    <img src="{% static 'images/imperial_min.jpg' %}" alt="image">
                                </div>

                                <p>Текстура</p>
                            </a>
                        </li>
                        <li>
                            <a href="#tab-7">
                                <div class="min_block">
                                    <img src="{% static 'images/imperial_min.jpg' %}" alt="image">
                                </div>

                                <p>Зал</p>
                            </a>
                        </li>
                        <li>
                            <a href="#tab-8">
                                <div class="min_block">
                                    <img src="{% static 'images/imperial_min.jpg' %}" alt="image">
                                </div>

                                <p>Спальня</p>
                            </a>
                        </li>
                        <li>
                            <a href="#tab-9">
                                <div class="min_block">
                                    <img src="{% static 'images/imperial_min.jpg' %}" alt="image">
                                </div>

                                <p>Детская</p>
                            </a>
                        </li>

                        <li>
                            <a href="#tab-10">
                                <div class="min_block">
                                    <img src="{% static 'images/imperial_min.jpg' %}" alt="image">
                                </div>

                                <p>Прихожая</p>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>


        </div>
    </div>

    <div class="bg4">
        <div class="content4 grid">
            <div class="form_block">
                <i class="bird"></i>
                <i class="big_leave"></i>
                <i class="small_leave"></i>

                <form method="post" action="#" class="form">

                    <h2>узнайте больше</h2>
                    <h5>заполните форму, мы свяжемся с вами и ответим на любые вопросы</h5>


                    <label for="name">
                        <input type="text" id="name" placeholder="Имя">
                    </label>

                    <label for="number">
                        <input type="number" id="number" placeholder="Телефон с кодом">
                    </label>

                    <label for="email">
                        <input type="email" id="email" placeholder="E-Mail">
                    </label>

                    <input type="submit" value="отправить">
                </form>

                <div class="phone_number">или позвоните нам: +996 550 901 440</div>
            </div>

            <div class="product">
                <div class="title_block">
                    <h2><span>преимущества</span> &nbsp;&nbsp;&nbsp;нашей &nbsp;продукции
                        <span class="hider"></span></h2>
                    <img src="{% static 'images/short_line.png' %}" alt="image">
                    <img src="{% static 'images/advantage_pattern.png' %}" alt="image">
                </div>

                <div class="advantages">
                    <div class="advantage">
                        <img src="{% static 'images/advantage1.png' %}" alt="image">

                        <p>Произведено на немецком оборудовании «Schroeder»</p>
                    </div>

                    <div class="advantage">
                        <img src="{% static 'images/advantage2.png' %}" alt="image">

                        <p>Твердость древесины -
                            5 по бринеллю</p>
                    </div>

                    <div class="advantage">
                        <img src="{% static 'images/advantage3.png' %}" alt="image">

                        <p>Горная порода обеспечивает необычную текстуру древесины</p>
                    </div>

                    <div class="advantage">
                        <img src="{% static 'images/advantage4.png' %}" alt="image">

                        <p>Абсолютная экологичность продукции</p>
                    </div>

                    <div class="advantage">
                        <img src="{% static 'images/advantage5.png' %}" alt="image">

                        <p>Гарантия завода на всю представленную продукцию -
                            10 лет</p>
                    </div>

                    <div class="advantage">
                        <img src="{% static 'images/advantage6.png' %}" alt="image">

                        <p>Для покрытия используется масло на основе натурального пчелиного воска (производство
                            Италия)</p>
                    </div>

                    <div class="advantage">
                        <img src="{% static 'images/advantage7.png' %}" alt="image">

                        <p>Своевременное и качественное сервисное обслуживание
                            в вашем городе</p>
                    </div>

                    <div class="advantage">
                        <img src="{% static 'images/advantage8.png' %}" alt="image">

                        <p>Покупка и доставка напрямую
                            от производителя. Регионы: Кыргызстан, Казахстан и Россия. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bg5">
        <div class="content5 grid">

            <div class="title_block">
                <h2>&nbsp;&nbsp;&nbsp;этапы <span>производства</span>
                    <span class="hider"></span></h2>
                <img src="{% static 'images/short_line.png' %}" alt="image">
                <img src="{% static 'images/advantage_pattern.png' %}" alt="image">
            </div>

            <div class="stages">
                <div class="stage">
                    <div class="bg_line"></div>
                    <span>1.</span>

                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudatium
                        totam</p>
                </div>

                <div class="stage">
                    <div class="bg_line"></div>
                    <span>2.</span>

                    <p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
                        rem
                        aperiam, eaque
                    </p>
                </div>

                <div class="stage">
                    <div class="bg_line"></div>
                    <span>3.</span>

                    <p>Unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                        eaque
                    </p>
                </div>

                <div class="stage">
                    <div class="bg_line"></div>
                    <span>4.</span>

                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudatium
                        totam
                    </p>
                </div>

                <div class="stage">
                    <div class="bg_line"></div>
                    <span>5.</span>

                    <p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
                        rem
                        aperiam, eaque ipsa
                    </p>
                </div>

                <div class="stage">
                    <div class="bg_line"></div>
                    <span>6.</span>

                    <p>Unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                        eaque
                    </p>
                </div>
            </div>

            <div class="form_block">

                <i class="pen"></i>

                <form method="post" action="#" class="form">

                    <h2>объемы и доставка</h2>
                    <h5>оставьте заявку сейчас и мы проведем для вас все необходимые расчеты</h5>


                    <label for="name1">
                        <input type="text" id="name1" placeholder="Имя">
                    </label>

                    <label for="number1">
                        <input type="number" id="number1" placeholder="Телефон с кодом">
                    </label>

                    <label for="email1">
                        <input type="email" id="email1" placeholder="E-Mail">
                    </label>

                    <input type="submit" value="отправить">
                </form>

                <div class="phone_number">или позвоните нам: +996 550 901 440</div>
            </div>
        </div>
    </div>

    <div class="bg6">
        <div class="content6 grid">
            <div class="title_block">
                <h2>&nbsp;&nbsp;процесс <span>производства</span>
                    <span class="hider"></span></h2>
                <img src="{% static 'images/short_line.png' %}" alt="image">
                <img src="{% static 'images/advantage_pattern.png' %}" alt="image">
            </div>

            <div class="process">
                <div class="process_img">
                    <img src="{% static 'images/process1.jpg' %}" alt="image">
                </div>

                <div class="process_img">
                    <img src="{% static 'images/process2.jpg' %}" alt="image">
                </div>

                <div class="process_img">
                    <div class="process_img_min">
                        <img src="{% static 'images/process3.jpg' %}" alt="image">
                    </div>
                    <div class="process_img_min">
                        <img src="{% static 'images/process4.jpg' %}" alt="image">
                    </div>
                </div>

                <div class="process_img">
                    <img src="{% static 'images/process5.jpg' %}" alt="image">
                </div>

                <div class="process_img">
                    <img src="{% static 'images/process6.jpg' %}" alt="image">
                </div>

                <div class="process_img">
                    <img src="{% static 'images/process7.jpg' %}" alt="image">
                </div>
            </div>

            <div class="video_bg">
                <div class="video">
                    <div class="p_video">
                        <span>видеоролик</span>

                        <h5>оцените<br>
                            процесс<br>
                            произ-<br>
                            водства<br>
                            вживую</h5>
                    </div>
                    <div class="iframe">
                        <iframe src="https://www.youtube.com/embed/EkWPMaCd0aY?ecver=1" frameborder="0"
                                allowfullscreen></iframe>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="bg7">
        <div class="content7 grid group">
            <div class="title_block">
                <h2>&nbsp;&nbsp;сертификаты <span>premium &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;wood</span>
                    <span class="hider"></span></h2>
                <img src="{% static 'images/short_line.png' %}" alt="image">
                <img src="{% static 'images/advantage_pattern.png' %}" alt="image">
            </div>

            <div class="slider">
                <div class="sl_slide">
                    <img src="{% static 'images/certificate2.jpg' %}" alt="image">
                </div>

                <div class="sl_slide">
                    <img src="{% static 'images/certificate2.jpg' %}" alt="image">
                </div>

                <div class="sl_slide">
                    <img src="{% static 'images/certificate2.jpg' %}" alt="image">
                </div>

                <div class="sl_slide">
                    <img src="{% static 'images/certificate2.jpg' %}" alt="image">
                </div>
            </div>
        </div>
    </div>

    <div class="bg8">
        <div class="content8 grid">

            <div class="title_block">
                <h2>&nbsp; <span>отзывы</span> наших &nbsp;&nbsp;клиентов
                    <span class="hider"></span></h2>
                <img src="{% static 'images/short_line.png' %}" alt="image">
                <img src="{% static 'images/advantage_pattern.png' %}" alt="image">
            </div>

            <div class="vertical_slider group">

                <div class="v_slider_nav">
                    <div class="sl_nav_item">
                        <i class="polygon"></i>
                        <img src="{% static 'images/comment1.jpg' %}" alt="image">
                    </div>

                    <div class="sl_nav_item">
                        <i class="polygon"></i>
                        <img src="{% static 'images/comment1.jpg' %}" alt="image">
                    </div>

                    <div class="sl_nav_item">
                        <i class="polygon"></i>
                        <img src="{% static 'images/comment1.jpg' %}" alt="image">
                    </div>

                    <div class="sl_nav_item">
                        <i class="polygon"></i>
                        <img src="{% static 'images/comment1.jpg' %}" alt="image">
                    </div>
                </div>

                <div class="v_slider">
                    <div class="sl_item">
                        <img src="{% static 'images/main_comment.jpg' %}" alt="image">
                    </div>

                    <div class="sl_item">
                        <img src="{% static 'images/main_comment.jpg' %}" alt="image">
                    </div>

                    <div class="sl_item">
                        <img src="{% static 'images/main_comment.jpg' %}" alt="image">
                    </div>

                    <div class="sl_item">
                        <img src="{% static 'images/main_comment.jpg' %}" alt="image">
                    </div>
                </div>

            </div>

            <div class="form_block">
                <form method="post" action="#" class="form">

                    <h2>остались вопросы?</h2>
                    <h5>оставьте свои данные</h5>
                    <h5>и наш специалист свяжется с вами</h5>


                    <label for="name2">
                        <input type="text" id="name2" placeholder="Имя">
                    </label>

                    <label for="number2">
                        <input type="number" id="number2" placeholder="Телефон с кодом">
                    </label>

                    <label for="email3">
                        <input type="email" id="email3" placeholder="E-Mail">
                    </label>

                    <input type="submit" value="отправить">
                </form>

                <div class="phone_number">или позвоните нам: +996 550 901 440</div>
            </div>
        </div>
    </div>

    <div class="bg9">
        <div class="content9 grid group">
            <div class="title_block">
                <h2>&nbsp;&nbsp;о компании <span>premium &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;wood</span>
                    <span class="hider"></span></h2>
                <img src="{% static 'images/short_line.png' %}" alt="image">
                <img src="{% static 'images/long_line.png' %}" alt="image">
            </div>

            <div class="text_block">
                <p>Enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur. </p>

                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                    laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                    laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
                    beatae
                    vitae dicta sunt explicabo. </p>

                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
                    magni
                    dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia
                    dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut
                    labore
                    et dolore magnam aliquam quaerat voluptatem.</p>
            </div>
        </div>
    </div>

    <div class="bg10">
        <div class="map_iframe">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d93561.92088066317!2d74.52182065736794!3d42.876853703847246!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x389eb7dc91b3c881%3A0x492ebaf57cdee27d!2z0JHQuNGI0LrQtdC6LCDQmtC40YDQs9C40LfQuNGP!5e0!3m2!1sru!2sru!4v1488799605887"
                    frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>

        <div class="location_bg">
            <div class="location">
                <h2>контакты</h2>

                <ul class="place">
                    <li><p>+996 550 901 440</p></li>
                    <li><p>info@pw.kg</p></li>
                    <li><p>Бишкек, ул. Токтогула 328a</p></li>
                </ul>
            </div>
        </div>

    </div>
{% endblock %}